test*/*
*/build/*
notes/*
occProjector/*
paper*/
compressImage/*

stage/*
*/*.png
*/*.csv
*.log
*.npy

.vscode/*
patent/*
__pycache__/*

*_example/*
results/*
untitled_project/*

*.pdf
#*.docx
literature/*

*.pyc

occQt/*